<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>
<div id="page" layout:fragment="content">
        <form method="POST" class="form-signin" th:object="${pojazdForm}" th:action="@{/pojazdy/edytuj/{id}(id=${id})}">
            <h2 class="form-signin-heading">Edytuj pojazd</h2>

            <div class="form-group">
                <input type="text" th:field="*{numerRejestracyjny}" class="form-control" placeholder="Numer Rejestracyjny" autofocus="true">
            </div>
            <div class="form-group">
                <input type="text" th:field="*{marka}" class="form-control" placeholder="Marka">
            </div>
            <div class="form-group">
                <input type="text" th:field="*{model}" class="form-control" placeholder="Model">
            </div>
            <div class="form-group">
                <input type="text" th:field="*{vin}" class="form-control" placeholder="VIN">
            </div>
            <div class="form-group">
                <input type="text" th:field="*{przebieg}" class="form-control" placeholder="Przebieg">
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Wyślij</button>
        </form>
</div>
</body>
</html>
