<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>
<div id="page" layout:fragment="content">
    <form action="" method="post">
        <span class="button-content-wrapper float-right">
			 <button class="add_field_button_edycja">Dodaj nowy element oferty</button>
		 </span>
    </form>

    <form method="POST" class="table" th:object="${ofertaForm}" th:action="@{/oferty/edytuj/{id}(id=${ofertaForm.id})}">
        <div class="float-right">
            <a th:href="@{/oferty/{id}(id=${ofertaForm.id})}">Podgląd</a>
        </div>
        <h2> Kosztorys Naprawy</h2>
        <div>
            <div class="samochod-input-block">
                Samochód
                <div><input type="text" th:field="*{pojazd.marka}" class="form-control" placeholder="Marka" autofocus="true"></div>
                <div><input type="text" th:field="*{pojazd.model}" class="form-control" placeholder="Model"></div>
                <div><input type="text" th:field="*{pojazd.numerRejestracyjny}" class="form-control" placeholder="Numer Rejestracyjny"></div>
                <div><input type="text" th:field="*{pojazd.vin}" class="form-control" placeholder="VIN"></div>
                <div><input type="text" th:field="*{pojazd.przebieg}" class="form-control" placeholder="Przebieg"></div>
            </div>

            <table class="table">
                <thead class="thead-primary">
                <tr>
                    <th width="60%">Wykaz czynności i elementów</th>
                    <th>Robocizna [netto]</th>
                    <th>Części [brutto]</th>
                    <th>Usuń</th>
                </tr>
                </thead>
                <tbody class="bavarians_oferty_input_fields_wrap_edycja">
                <tr th:each="item,iterStat : ${ofertaForm.elementySerwisowe}">
                    <!--                    <td th:text="${item.nazwa}"></td>-->
                    <!--                    <td th:text="${item.cenaRobociznyNetto}"></td>-->
                    <!--                    <td th:text="${item.cenaCzesciBrutto}"></td>-->
                    <td><input type="text" th:value="${item.nazwa}" th:field="${ofertaForm.elementySerwisowe[__${iterStat.index}__].nazwa}" class="form-control"></td>
                    <td><input type="text" th:value="${item.cenaRobociznyNetto}" th:field="${ofertaForm.elementySerwisowe[__${iterStat.index}__].cenaRobociznyNetto}" class="form-control"></td>
                    <td><input type="text" th:value="${item.cenaCzesciBrutto}" th:field="${ofertaForm.elementySerwisowe[__${iterStat.index}__].cenaCzesciBrutto}" class="form-control"></td>

                    <td>
                        <a th:href="@{/oferty/{ofertaId}/edycja/elementy/usun/{id}(id=${item.id},ofertaId=${ofertaForm.id})}">Usuń</a>
                    </td>
                </tr>


                </tbody>
            </table>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Zapisz</button>
        </div>
    </form>

</div>
</body>
</html>
