<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layouts/default" xmlns:ht="http://www.w3.org/1999/xhtml">
<body>
<div id="page" layout:fragment="content">

    <div sec:authorize="isAuthenticated()">
        <form id="logoutForm" method="POST" th:action="@{/logout}">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        </form>


        <div class="oferta-head">

            <div>
                Oferta Nr <span th:text="${oferta.id}"></span>
            </div>
        </div>
        <div>
            <h2>Kosztorys naprawy</h2>
        </div>
        <div>
            Samochód
            <div>
                <span th:text="${oferta.pojazd} ? ${oferta.pojazd.marka} : ''"></span>
                <span th:text="${oferta.pojazd} ? ${oferta.pojazd.model} : ''"></span>
            </div>
            <div>
                Numer Rejestracyjny <span th:text="${oferta.pojazd?.numerRejestracyjny}"></span>
            </div>
            <div>
                VIN <span th:text="${oferta.pojazd?.vin}"></span>
            </div>
        </div>


        <table class="table">
            <thead class="thead-primary">
            <tr>
                <th width="60%">Opis</th>
                <th>Cena robocizny (netto)</th>
                <th>Cena części (brutto)</th>
                <th>Usuń</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${oferta.elementySerwisowe}">
                <td width="60%" th:text="${item.nazwa}"></td>
                <td th:text="${item.cenaRobociznyNetto}"></td>
                <td th:text="${item.cenaCzesciBrutto}"></td>
                <td><a th:href="@{/oferty/{ofertaId}/elementy/usun/{id}(id=${item.id},ofertaId=${oferta.id})}">Usuń</a></td>
            </tr>
            </tbody>
        </table>
        <div class="forty-right">
            <table class="table">
                <tbody>
                <tr style="border-top: 2px solid goldenrod;">
                    <td th:text="${oferta.sumaRobociznaNetto}"></td>
                    <td th:text="${oferta.sumaCzesciBrutto}"></td>
<!--                    <td width="17%" ></td>-->
                </tr>
                </tbody>
            </table>
            <table class="table">
                <tbody class="float-right">
                <tr>
                     <td th:text="${'Suma (netto) '+oferta.sumaBezVat + ' PLN'}"></td>
                </tr>
                <tr>
                     <td th:text="${'Suma (brutto) '+oferta.suma+ ' PLN'}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>