<header class="header" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="header-row">
            <div class="header-image">
                <a href="/" th:href="@{/}">
                    <img th:src="@{/img/bavarians-logo.png}" title="bavarians-logo" alt="bavarians-logo">
                </a>
            </div>

            <div sec:authorize="isAuthenticated()" class="navigation" th:fragment="navigation">
                <a class="node" href="/klienci" th:href="@{/klienci}">Klienci</a>
                <a class="node" href="/oferty" th:href="@{/oferty}">Oferty</a>
                <a class="node" href="/pojazdy" th:href="@{/pojazdy}">Pojazdy</a>
                <div class="button-wrapper">
                    <a href="/oferty/dodaj" role="button">
                    <span class="button-content-wrapper">
						<span class="button-text">Utworz ofertę</span>
		            </span>
                    </a>
                </div>
                <div class="button-wrapper red-button">
                    <a onclick="document.forms['logoutForm'].submit()">
                    <span class="button-content-wrapper">
						<span class="button-text">Wyloguj</span>
		            </span>
                    </a>
                </div>
            </div>

            <div sec:authorize="!isAuthenticated()" class="navigation" th:fragment="navigation">
                <div class="button-wrapper">
                    <a href="/login" role="button">
                    <span class="button-content-wrapper">
						<span class="button-text">Zaloguj</span>
		            </span>
                    </a>
                </div>
                <div class="button-wrapper">
                    <a href="/registration" role="button">
                    <span class="button-content-wrapper">
						<span class="button-text">Zarejestruj</span>
		            </span>
                    </a>
                </div>
            </div>


        </div>
    </div>
    </div>
</header>