<head th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta content="ie=edge" http-equiv="x-ua-compatible" />
    <title th:text="${metaTitle} ? ${metaTitle} : 'default title'"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!--    <link th:href="@{https://pl.allfont.net/allfont.css?fonts=roboto-condensed-bold}"-->
<!--          rel='stylesheet' type='text/css' />-->
    <link th:href="@{/css/roboto-condensed-bold.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
<!--    <link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>-->
</head>